body{
    background-color: rgba(0, 0, 0, 0.13);
}


img{
    height: 320px;
}
.car{
    border: none;
    background-color: rgba(0, 0, 139, 0.13);
    border-radius: 12px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.418);
}
.card{
    border-radius: 12px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    background-color: whitesmoke;
}